* {
  box-sizing: border-box;
  cursor: default; }
  *:visited {
    outline: none; }

a {
  text-decoration: none;
  color: #388E3C;
  cursor: pointer;
  font-weight: bold; }
  a:hover, a:focus {
    text-decoration: underline; }

p {
  margin: 0px; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

body {
  background-color: #fafafa;
  margin: 0;
  color: #424242;
  font-family: "Cambay", sans-serif;
  border-top: 6px solid #388E3C; }

@media(min-width: 768px) {
  body {
    position: relative;
    min-height: 100vh;
    height: 100%; }
    body .content-wrap {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      width: 100%;
      max-width: 1200px; } }
header .my-name {
  font-size: 32px;
  font-family: "Duru Sans", sans-serif;
  text-align: center;
  display: block;
  max-width: 340px;
  width: 100%;
  margin: 0 auto;
  padding: 44px 10px;
  position: relative;
  color: #424242;
  line-height: 38px;
  text-transform: uppercase; }
  header .my-name::before, header .my-name::after {
    content: "";
    display: block;
    background-color: #424242;
    width: 70%;
    height: 3px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    bottom: 34px; }
  header .my-name::before {
    width: 46%;
    top: 34px; }

@media(min-width: 960px) {
  header {
    margin-bottom: 20px;
    margin-top: 20px; } }
.content {
  padding: 0px 20px; }

.my-photo {
  width: 40vw;
  height: 40vw;
  margin: 0 auto;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -mox-border-radius: 50%;
  border-radius: 50%;
  max-width: 340px;
  max-height: 340px;
  min-width: 180px;
  min-height: 180px; }
  .my-photo img {
    width: 100%;
    height: auto; }

.current-work {
  margin-top: 24px;
  padding: 0 20px 40px; }
  .current-work p.workplace {
    font-size: 18px;
    text-align: center; }
    .current-work p.workplace a.yipl {
      font-family: "Open Sans", sans-serif;
      text-decoration: none;
      font-weight: normal; }
      .current-work p.workplace a.yipl:hover {
        text-decoration: underline;
        color: #676767; }
      .current-work p.workplace a.yipl span {
        cursor: pointer; }
      .current-work p.workplace a.yipl .yi-black {
        color: #676767; }
      .current-work p.workplace a.yipl .yi-orange {
        color: #f16622; }
  .current-work p.designation {
    font-style: italic;
    padding-top: 6px;
    text-align: center; }
  .current-work ul {
    margin: 12px auto 0;
    padding-left: 0px;
    width: 100%; }
    .current-work ul li {
      list-style: none;
      position: relative;
      margin-bottom: 8px; }
      .current-work ul li:last-child {
        margin-bottom: 0;
        font-style: italic;
        font-size: 20px; }
    .current-work ul span.title {
      font-family: "Duru Sans", sans-serif; }
    .current-work ul span.title.one {
      font-size: 20px;
      padding-right: 8px; }
    .current-work ul span.title.two {
      font-size: 22px; }
    .current-work ul .rs-highlight {
      font-family: "Duru Sans", sans-serif;
      font-size: 24px;
      font-style: normal; }

@media(min-width: 480px) {
  .current-work ul li {
    font-size: 20px; }
    .current-work ul li span.title.one {
      font-size: 22px; }
    .current-work ul li .rs-highlight {
      font-size: 26px; } }
@media(min-width: 768px) {
  .current-work ul {
    width: 75%;
    max-width: 940px;
    overflow: hidden; }
    .current-work ul li {
      float: left;
      width: 48%; }
      .current-work ul li:first-child {
        margin-right: 4%; }
      .current-work ul li:nth-child(n+3) {
        width: 100%; } }
.contact {
  text-align: center;
  padding: 0px 20px; }
  .contact a {
    height: 48px;
    line-height: 48px; }

.social-wrap .social {
  overflow: hidden;
  display: inline-block; }
  .social-wrap .social li {
    margin: 0px;
    padding: 0px 10px;
    border-bottom: 1px solid #cccccc; }
    .social-wrap .social li:nth-child(n+2) {
      padding-top: 5px; }
    .social-wrap .social li:last-child {
      margin-bottom: 0px; }
    .social-wrap .social li#linkedin a {
      color: #007bb5; }
    .social-wrap .social li#twitter a {
      color: #00aced; }
    .social-wrap .social li#medium a {
      color: #3cb371; }

.mail-wrap {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 5px; }
  .mail-wrap .title {
    font-style: italic;
    font-size: 15px; }
  .mail-wrap .mail {
    font-size: 16px;
    font-style: normal;
    color: #dd4b39;
    font-weight: bold; }

@media(min-width: 320px) {
  .social-wrap .social li {
    float: left;
    margin: 0px 24px 0px 0px;
    position: relative;
    border: 0;
    padding: 0; }
    .social-wrap .social li::after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      right: -25%;
      background-color: #cccccc;
      height: 4px;
      width: 4px;
      transform: rotate(160deg) translateY(50%);
      -webkit-transform: rotate(160deg) translateY(50%); }
    .social-wrap .social li:nth-child(n+2) {
      padding-top: 0; }
    .social-wrap .social li:last-child {
      margin-right: 0px; }
      .social-wrap .social li:last-child::after {
        display: none; } }
@media(min-width:768px) {
  .contact {
    position: fixed;
    top: 50%;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg); }

  .social-wrap {
    left: -5%; }

  .mail-wrap {
    right: -7%;
    width: auto;
    margin: 0; } }
@media(min-width: 900px) {
  .contact .social {
    overflow: visible; }
  .contact a {
    position: relative;
    z-index: 1; }
    .contact a::before {
      content: "";
      position: absolute;
      height: 6px;
      width: 40px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -webkit-transfrom: translate(-50%, -50%);
      margin-top: -5px;
      margin-left: -20px;
      z-index: -1;
      background: #388E3C;
      opacity: 0.8;
      -webkit-transform: rotate3d(0, 0, 1, 54deg) scale3d(0, 1, 1);
      transform: rotate3d(0, 0, 1, 54deg) scale3d(0, 1, 1);
      -webkit-transition: -webkit-transform 0.5s;
      transition: transform 0.5s; }
    .contact a:hover, .contact a:focus {
      color: #424242 !important;
      background: none;
      text-decoration: none;
      transition: color 0.5s; }
      .contact a:hover::before, .contact a:focus::before {
        -webkit-transform: rotate3d(0, 0, 1, 126deg) scale3d(1, 1, 1);
        transform: rotate3d(0, 0, 1, 126deg) scale3d(1, 1, 1); }
  .contact li:hover a {
    color: #424242; }
  .contact .social li#medium a::before {
    background-color: #3cb371; }
  .contact .social li#twitter a::before {
    background-color: #00aced; }
  .contact .social li#linkedin a::before {
    background-color: #007bb5; }
  .contact a.mail::before {
    background-color: #dd4b39; } }
footer {
  width: 100%;
  color: #fff;
  text-align: right;
  font-family: "Duru Sans", sans-serif;
  padding: 20px;
  font-size: 18px;
  line-height: 1.5;
  background-color: #388E3C; }
  footer .footer-content a.github-link {
    font-size: 12px;
    display: block;
    margin-top: 12px;
    color: #fff;
    font-weight: normal;
    width: auto; }

@media(min-width: 768px) {
  footer {
    background-color: #fafafa;
    text-align: center;
    color: #388E3C; }
    footer .footer-content a.github-link {
      color: #388E3C; } }

/*# sourceMappingURL=main.css.map */
